.ColorBox {
  width: 20%;
  height: 25%;
  display: inline-block;
  margin: 0 auto;
  position: relative;
  cursor: pointer;
  margin-bottom: -4px;
  outline: none;
}

.copy-button {
  position: absolute;
  height: 30px;
  width: 100px;
  top: 50%;
  font-size: 1rem;
  left: 50%;
  margin-left: -50px;
  margin-top: -15px;
  border: none;
  background: rgba(255, 255, 255, 0.3);
  color: white;
  box-shadow: none;
  opacity: 0;
  text-transform: uppercase;
  outline: none;
  line-height: 30px;
  cursor: pointer;
}

.ColorBox:hover .copy-button {
  opacity: 1;
  transition: all 0.5s;
}

.see-more {
  position: absolute;
  height: 30px;
  width: 60px;
  bottom: 0;
  font-size: 1rem;
  right: 0%;
  margin-left: -50px;
  margin-top: -15px;
  border: none;
  background: rgba(255, 255, 255, 0.3);
  color: white;
  box-shadow: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  outline: none;
  line-height: 30px;
  cursor: pointer;
  text-align: center;
}

.boxContent {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 12px;
  padding: 10px;
  outline: none;
  width: 100px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.copy-overlay {
  opacity: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.6s ease-in-out;
  outline: none;
  border: none;
  transform: scale(0.1);
}

.copy-overlay.show {
  opacity: 1;
  outline: none;
  border: none;
  transform: scale(50);
  z-index: 10;
  position: absolute;
}

.copy-message {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  transform: scale(0.1);
  opacity: 0;
  color: white;
}

.copy-message.show {
  opacity: 1;
  outline: none;
  border: none;
  transform: scale(1);
  z-index: 25;

  transition-delay: 0.4s;
  transition: all 0.4s ease-in-out;
}

.copy-message h1 {
  font-weight: 400;
  text-shadow: 1px 2px black;
  background: rgba(255, 255, 255, 0.2);
  width: 100%;
  text-align: center;
  margin-bottom: 0;
  padding: 1rem;
  text-transform: uppercase;
}

.copy-message p {
  font-size: 2rem;
  font-weight: 100;
}
